.forgot-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: linear-gradient(to right, rgba(217, 217, 217, 1), rgba(229, 229, 229, 1)); */
  background: url('../assets/login-bg.jpg') no-repeat center center/cover;
}

.forgot-card {
  background: transparent;
  padding: 40px 30px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.forgot-card h2 {
  margin-bottom: 12px;
  font-size: 26px;
  color: #333;
}

.forgot-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.forgot-card input {
  width: 100%;
  /* padding: 12px; */
  margin-bottom: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: transparent;
}

.form-control::placeholder {
  background-color: transparent !important;
  font-size: 14px;
  color: #FFF !important;
}

.form-control {
  background-color: transparent;
}


.forgot-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #4a90e2;
  color: white;
  font-size: 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.forgot-card button:hover {
  background-color: #357bd8;
}

.success-message {
  font-size: 16px;
  color: White;
}

.box-shadow {
  background-color: transparent;
}


.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
  background-color: #000;
  border-color: #4285AC;
}

