@media (max-width:660px) {
    .build-font-size {
        font-size: 1rem !important;
    }
    .banner-image-quiz-margin-padding {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.build-font-size {
    font-size: 1.50rem !important;
}

@media (max-width:992px) {
    .quize-btn-responsive {
        width: 150px !important;
        font-size: 14px !important;
    }
}