                                                /* ProductDetailsHero.css */
                                                
                                                .product-hero-container {
                                                    display: flex;
                                                    gap: 1.5rem;
                                                    padding: 1.5rem;
                                                    background-color: #fff;
                                                    border-radius: 0.75rem;
                                                    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
                                                    position: relative;
                                                    margin-top: 150px;
                                                }
                                                
                                                .product-hero-left {
                                                    /* flex: 0 0 40%; */
                                                    /* max-width: 500px; */
                                                    width: 50%;
                                                    position: sticky;
                                                    top: 140px;
                                                    align-self: flex-start;
                                                }
                                                
                                                .product-hero-right {
                                                    /* flex: 1 1 60%; */
                                                    flex: 1 1 50%;
                                                }
                                                
                                                .product-hero-image-wrapper {
                                                    display: flex;
                                                    gap: 0.75rem;
                                                    flex-direction: column-reverse;
                                                }
                                                
                                                .product-hero-thumbnails {
                                                    display: flex;
                                                    flex-direction: row;
                                                    align-items: center;
                                                    gap: 0.5rem;
                                                    /* justify-content: space-between; */
                                                }
                                                
                                                .product-hero-thumbnails-list {
                                                    display: flex;
                                                    flex-direction: row;
                                                    gap: 0.5rem;
                                                }
                                                
                                                .right-sides {
                                                    rotate: 268deg;
                                                }
                                                
                                                .left-side {
                                                    rotate: 268deg;
                                                }
                                                
                                                .product-hero-thumbnail {
                                                    width: 65px;
                                                    height: 65px;
                                                    object-fit: cover;
                                                    border-radius: 6px;
                                                    cursor: pointer;
                                                    border: 1px solid #ddd;
                                                }
                                                
                                                .product-hero-thumbnail.active-thumbnail {
                                                    border: 2px solid #000;
                                                }
                                                
                                                .product-hero-main-image {
                                                    position: relative;
                                                    text-align: center;
                                                }
                                                
                                                .product-hero-main-image img {
                                                    max-height: 450px;
                                                    width: 100%;
                                                    object-fit: contain;
                                                }
                                                
                                                .product-hero-wishlist-btn {
                                                    position: absolute;
                                                    top: 0;
                                                    right: 0;
                                                    background-color: transparent;
                                                    border-radius: 50%;
                                                    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
                                                    width: 40px;
                                                    height: 40px;
                                                    padding: 0;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    border: none;
                                                }
                                                
                                                .color-swatch {
                                                    width: 32px;
                                                    height: 32px;
                                                    border-radius: 4px;
                                                    cursor: pointer;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                }
                                                
                                                .color-swatch-check {
                                                    color: white;
                                                    font-size: 10px;
                                                    font-weight: bold;
                                                }
                                                
                                                .more-variants-btn {
                                                    width: 30px;
                                                    height: 30px;
                                                    padding: 0 !important;
                                                    margin: 0 !important;
                                                    font-size: 14px !important;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    background-color: #fdfdfd !important;
                                                }
                                                
                                                .text-variant-btn {
                                                    min-width: 80px;
                                                }
                                                
                                                .action-btn {
                                                    flex-grow: 1;
                                                    padding: 1rem 0;
                                                    font-weight: bold;
                                                }
                                                /* Overlay Styles */
                                                
                                                .variant-overlay {
                                                    position: fixed;
                                                    top: 0;
                                                    left: 0;
                                                    width: 100%;
                                                    height: 100%;
                                                    background-color: rgba(0, 0, 0, 0.6);
                                                    z-index: 10;
                                                    display: flex;
                                                    /* align-items: center; */
                                                    justify-content: center;
                                                }
                                                
                                                .variant-overlay-content {
                                                    background-color: #fff;
                                                    border-radius: 0px;
                                                    padding: 1.5rem;
                                                    width: 90%;
                                                    max-width: 500px;
                                                    /* max-height: 85vh; */
                                                    max-height: 100%;
                                                    overflow-y: auto;
                                                }
                                                
                                                .overlay-color-swatch {
                                                    width: 45px;
                                                    height: 45px;
                                                    margin: 0 auto;
                                                    border-radius: 6px;
                                                    cursor: pointer;
                                                    position: relative;
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                }
                                                
                                                .overlay-check {
                                                    color: white;
                                                    font-weight: bold;
                                                    font-size: 14px;
                                                }
                                                
                                                @media (max-width:768px) {
                                                    .product-hero-container {
                                                        display: block !important;
                                                        gap: 1.5rem;
                                                        padding: 1.5rem;
                                                        background-color: #fff;
                                                        border-radius: 0.75rem;
                                                        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
                                                        position: relative;
                                                        margin: 70px 0 0 0;
                                                        padding: 0;
                                                    }
                                                    .product-detail-page {
                                                        padding: 0px 10px;
                                                    }
                                                    .product-hero-left {
                                                        flex: 0 0 40%;
                                                        /* max-width: 500px; */
                                                        width: 100%;
                                                        position: unset;
                                                        top: 20px;
                                                        align-self: flex-start;
                                                    }
                                                }
                                                
                                                @media (max-width:1024px) {
                                                    .product-hero-container {
                                                        display: flex;
                                                        gap: 1.5rem;
                                                        padding: 1.5rem;
                                                        background-color: #fff;
                                                        border-radius: 0.75rem;
                                                        /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
                                                        position: relative;
                                                        margin-top: 50px !important;
                                                    }
                                                }